* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: center;
  background-color: #313030;
}

.menu a {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 40px 30px 35px 30px;
  color: #e0e0e0;
}

.menu :hover {
  background-color: #ff3f40;
}

.flex {
  display: flex;
  justify-content: center;
  min-height: 400px;
}

.first-block {
  width: 300px;
  background-color: chocolate;
}

.second-block {
  width: 600px;
  background-color: cornflowerblue;
}

.third-block {
  width: 300px;
  background-color: darkkhaki;
}
